<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ЦМПОЛ_passports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ЦМПОЛ_passports.Properties.Settings.CmpolBaseConnectionString"
            connectionString="Data Source=192.168.99.4;Initial Catalog=CmpolBase;Persist Security Info=True;User ID=Lan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <ЦМПОЛ_passports.Properties.Settings>
            <setting name="cena" serializeAs="String">
                <value>0</value>
            </setting>
        </ЦМПОЛ_passports.Properties.Settings>
    </userSettings>
</configuration>
